# Python
__pycache__
*.pyc 

# Environments
venv
myenv
myvenv

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Secretkey
secrets.json
docker-compose.env

# Mac
.DS_Store

# Static
static/